<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html" >
<head>
    <meta charset="UTF-8">
    <title>Nav</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:fragment="navbar" class="navbar">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a th:href="@{/}" class="navbar-brand">Home</a>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/events}">Events</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/menu}">Menu</a>
                    </li>
<!--                    <li class="nav-item">-->
<!--                        <a class="nav-link text-light" th:href="@{/seatings}">Seatings</a>-->
<!--                    </li>-->
                    <li class="nav-item">
                        <a class="nav-link text-light" th:href="@{/layout}">Layouts</a>
                    </li>
                    <li class="nav-item" th:unless="${authenticated}">
                        <a class="nav-link text-light" th:href="@{/login}">Login</a>
                    </li>
                    <li class="nav-item" th:unless="${authenticated}">
                        <a class="nav-link text-light" th:href="@{/register}">Register</a>
                    </li>
                    <li class="nav-item" th:if="${authenticated}">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Logout" class="btn btn-info" />
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>