<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit a Seating</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-secondary">
<div class="container" th:object="${seating}">
    <header th:insert="~{nav :: navbar}"></header>
    <h2 class="text-center">Edit A Seating</h2>
    <hr>
    <form method="POST" th:object="${seating}" th:action="@{/seating/edit/{id}(id=${seating.id})}">
        <input type="hidden" th:field="*{id}">
        <h3 class="text-center">Event: <span th:text="${seating.event.name}"></span></h3>
        <h4 class="text-center">Event Start Date: <input class="rounded" th:value="${seating.event.startDate}" readonly /></h4>
        <h4 class="text-center">Event End Date: <input class="rounded" th:value="${seating.event.endDate}" readonly /></h4>
        <div class="form-group">
            <label for="startDateTime" class="form-label">Start Date And Time:</label>
            <input id="startDateTime" class="form-control" th:field="*{startDateAndTime}" type="datetime-local"/>
            <div class="alert alert-warning" th:errors="*{startDateAndTime}"></div>
        </div>
        <input class="btn btn-primary" type="submit" value="Save"/>
    </form>
    <a th:href="@{/event/details/{id}(id=${seating.event.id})}" class="btn btn-success mt-3">Go Back</a>
</div>
</body>
</html>