<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Event Details</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-secondary">
<div class="container" th:object="${event}">
    <header th:insert="~{nav :: navbar}"></header>
    <h2 class="text-center">Event Details</h2>
    <dl class="row" th:object="${event}">
        <dt class="col-sm-2">
            Name:
        </dt>
        <dd class="col-sm-10">
            <span th:text="*{name}"></span>
        </dd>
        <dt class="col-sm-2">
            Start Date:
        </dt>
        <dd class="col-sm-10">
            <span th:text="*{startDate.toString()}"></span>
        </dd>
        <dt class="col-sm-2">
            End Date:
        </dt>
        <dd class="col-sm-10">
            <span th:text="*{endDate.toString()}"></span>
        </dd>
        <dt class="col-sm-2">
            Seating Duration:
        </dt>
        <dd class="col-sm-10">
            <span th:text="*{seatingDuration}"> </span><span> minutes</span>
        </dd>
        <dt class="col-sm-2" th:unless="*{description == null || description.isEmpty()}">
            Description:
        </dt>
        <dd class="col-sm-10" th:unless="*{description == null || description.isEmpty()}">
            <span th:text="*{description}"></span>
        </dd>
        <dt class="col-sm-2">
            Price:
        </dt>
        <dd class="col-sm-10">
            <span th:text="*{#numbers.formatCurrency(price)}"> </span>
        </dd>
    </dl>
    <a th:href="@{/seating/create/{id}(id=${event.id})}" class="btn btn-primary">Add A Seating For This Event</a>
<!--    EVENT SEATINGS-->
    <div th:unless="${event.seatings == null || event.seatings.size() == 0}">
        <hr>
        <h2>Seatings For <span th:text="*{name}"></span></h2>
        <table class="table table-dark mt-3" th:unless="${event.seatings == null || event.seatings.size() == 0}">
            <thead>
                <tr>
                    <th>Start Time And Date</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="seating: ${event.seatings}">
                    <td><input type="datetime-local" th:value="${seating.startDateAndTime}"></td>
                    <td>
                        <a th:href="@{/seating/edit/{id}(id=${seating.id})}" class="btn btn-warning">Edit</a> |
                        <a th:href="@{/seating/delete/{id}(id=${seating.id})}" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <h3 th:unless="${event.seatings != null && event.seatings.size() > 0}" class="font-weight-bold bg-warning mt-5 text-center rounded p-1">There are no seatings for this event</h3>
    <br>
    <a th:href="@{/}" class="btn btn-success mt-3">Go Back</a>
</div>
</body>
</html>