<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Edit Event</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-secondary">
<div class="container" th:if="${authenticated}">
    <header th:insert="~{nav :: navbar}"></header>
    <main class="pb-3" role="main">
        <h2>Create An Event</h2>
        <hr/>
        <form method="post" th:action="@{/event/edit/{id}(id=${event.id})}" th:object="${event}">
            <input type="hidden" th:field="*{id}">
            <div class="form-group">
                <label for="name" class="form-label">Name:</label>
                <input id="name" class="form-control" th:field="*{name}"/>
                <div class="alert alert-warning" th:errors="*{name}"></div>
            </div>
            <div class="form-group">
                <label for="startDate" class="form-label">Start Date:</label>
                <input id="startDate" class="form-control" th:field="*{startDate}" type="date"/>
                <div class="alert alert-warning" th:errors="*{startDate}"></div>
            </div>
            <div class="form-group">
                <label for="endDate" class="form-label">End Date:</label>
                <input id="endDate" class="form-control" th:field="*{endDate}"  type="date"/>
                <div class="alert alert-warning" th:errors="*{endDate}"></div>
            </div>
            <div class="form-group">
                <label for="price" class="form-label">Price:</label>
                <input id="price" class="form-control" th:field="*{price}"/>
                <div class="alert alert-warning" th:errors="*{price}"></div>
            </div>
            <div class="form-group">
                <label for="startDur" class="form-label">Seating Duration:</label>
                <input id="startDur" placeholder="60 minutes..." class="form-control" th:field="*{seatingDuration}" type="number"/>
                <div class="alert alert-warning" th:errors="*{seatingDuration}"></div>
            </div>
            <div class="form-group">
                <label for="layout" class="form-label">Layout:</label>
                <select id="layout" class="form-control" th:field="*{layout.id}">
                    <option value="">Select a layout</option>
                    <option th:each="layout : ${layouts}" th:value="${layout.id}" th:text="${layout.name + ' with ' + layout.diningTables.size() + (layout.diningTables.size() > 1 ? ' tables' : ' table')}"></option>
                </select>
                <div class="alert alert-warning" th:if="${layoutErr}" th:text="${layoutErr}"></div>
            </div>
            <div class="form-group">
                <label for="menu" class="form-label">Menu:</label>
                <select id="menu" class="form-control" th:field="*{menu.id}">
                    <option value="">Select a Menu</option>
                    <option th:each="menu : ${menus}" th:value="${menu.id}" th:text="${menu.name}"></option>
                </select>
                <div class="alert alert-warning" th:if="${menuErr}" th:text="${menuErr}"></div>
            </div>
            <div class="form-group">
                <label for="desc" class="form-label">Description:</label>
                <textarea id="desc" class="form-control"  type="text" th:field="*{description}" cols="80" rows="5"></textarea>
                <div class="alert alert-warning" th:errors="*{description}"></div>
            </div>
            <input class="btn btn-primary" type="submit" value="Save"/>
        </form>
        <a th:href="@{/}" class="btn btn-success mt-3">Go Back</a>
    </main>
</div>
</body>
</html>