<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-secondary">
    <div class="container">
        <header th:insert="~{nav::navbar}"></header>

        <h1 th:if="${authenticated}">Delete Layout</h1>
        <h3 th:if="${authenticated}">Are you sure want to delete this?</h3>

        <hr th:if="${authenticated}">
        <div th:if="${authenticated}">
            <dl class="row" th:object="${layout}">
                <dt class="col-sm-2">
                    Name:
                </dt>
                <dd class="col-sm-10">
                    <span th:text="*{name}"></span>
                </dd>
                <dt class="col-sm-2">
                    Description:
                </dt>
                <dd class="col-sm-10">
                    <span th:text="*{description}"></span>
                </dd>
                <dt class="col-sm-2">
                    Date created:
                </dt>
                <dd class="col-sm-10">
                    <span th:text="${#dates.format(layout.createdDate, 'yyyy-MM-dd hh:mm a')}"></span>
                </dd>
            </dl>

            <form method="post" th:action="@{/layout/delete/{id}(id=${layout.id})}">
                <input name="id" th:value="${layout.id}" type="hidden">
                <div class="form-group">
                    <input class="btn btn-warning" type="submit" value="Delete"/>
                </div>
            </form>
        </div>
    <div th:if="${authenticated}">
        <a th:href="@{/layout}">Go Back</a>
    </div>
    </div>
</body>
</html>