<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-secondary">
<div class="container">
    <header th:insert="~{nav :: navbar}"></header>

    <h1>Layout detail</h1>
    <hr>

    <dl class="row" th:object="${layout}">
        <dt class="col-sm-2">
            Name:
        </dt>
        <dd class="col-sm-10">
            <span th:text="*{name}"></span>
        </dd>
        <dt class="col-sm-2">
            Description:
        </dt>
        <dd class="col-sm-10">
            <span th:text="*{description}"></span>
        </dd>
        <dt class="col-sm-2">
            Date created:
        </dt>
        <dd class="col-sm-10">
            <span th:text="${#dates.format(layout.createdDate, 'yyyy-MM-dd hh:mm a')}"></span>
        </dd>
    </dl>


    <div th:if="${tables != null and !tables.isEmpty()}">
        <table class="table table-dark mt-3" th:unless="${tables == null}">
            <thead>
            <tr>
                <th>Number of seating</th>
                <th>Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="table: ${tables}">
                <td>
                    <span th:text="${table.numberOfSeats}"></span>
                </td>
                <td>
                    <a class="btn btn-success" th:href="@{/table/edit/{id}(id=${table.id})}">Edit</a> |
                    <a class="btn btn-danger" th:href="@{/table/delete/{id}(id=${table.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>

    <a th:href="@{/table/create/{id}(id=${layout.id})}" class="btn btn-dark">Create Table</a>
    <div th:if="${tables == null or tables.isEmpty()}">
        No tables for this layout yet!
    </div>
    <div>
        <a th:href="@{/layout}">Go Back</a>
    </div>
</div>
</body>
</html>