<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-secondary">
<div class="container">
    <header th:insert="~{nav :: navbar}"></header>

    <h1 class="text-center text-white font-weight-bold">Layout</h1>

    <div class="mt-5">
        <table class="table table-dark mt-3" th:unless="${layouts == null}">
            <thead>
            <tr>
                <th class="text-info">Name</th>
                <th class="text-info">Description</th>
                <th class="text-info">Tables</th>
                <th class="text-info">Manage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="layout: ${layouts}">
                <td>
                    <span th:text="${layout.name}"></span>
                </td>
                <td>
                    <span th:text="${layout.description}"></span>
                </td>
                <td>
                    <span th:text="${layout.tables.size()}"></span>
                </td>
                <td>
                    <a th:if="${authenticated}" th:href="@{/table/create/{id}(id=${layout.id})}" class="btn btn-warning">Create table</a>
                    <a th:href="@{/layout/detail/{id}(id=${layout.id})}" class="btn btn-info">Details</a>
                    <a th:if="${authenticated}" th:href="@{/layout/edit/{id}(id=${layout.id})}" class="btn btn-success">Edit</a>
                    <a th:if="${authenticated}" th:href="@{/layout/delete/{id}(id=${layout.id})}" class="btn btn-danger">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <a th:if="${authenticated}" th:href="@{/layout/create}" class="btn btn-primary">Create Layout</a>

    <p class="text-center" th:if="${layouts == null || layouts.isEmpty()}">
        No Layout Found.
    </p>
</div>
</body>
</html>