<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Table</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/bootstrap.js}"></script>
</head>
<body class="bg-secondary">
<div class="container">
    <header th:insert="~{nav :: navbar}"></header>
    <h1 class="text-center">Create Table</h1>
    <h3 class="text-center">For layout name: <span class="text-primary fw-bold" th:text="${tables.layout.name}"></span></h3>
    <hr>
    <div class="">
        <form th:action="@{/table/create/{id}(id=${tables.layout.id})}" th:object="${tables}" method="post">

            <!-- Layout id to associate the diningTable layout-->
            <input id="layout" type="hidden" th:field="*{layout}">

            <div class="form-group">
                <label for="seats" th:field="*{numberOfSeats}">Number of Seats</label>
                <input class="form-control" id="seats" type="number" th:field="*{numberOfSeats}">
                <div class="alert alert-warning" th:errors="*{numberOfSeats}"></div>
            </div>
            <input class="btn btn-dark" type="submit" value="Add Table">
            <a th:href="@{/layout/detail/{id}(id=${tables.layout.id})}">Go back</a>
        </form>
    </div>
</div>
</body>
</html>